.container {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 100%;
  /* background-color: blue; */
}

body {
  height: 100vh;
}
